* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
}

table {
    border-collapse: collapse;
    margin-left: 2px;
}

th, td {
    text-align: center;
    border: black solid 1px;
}

input {
    margin-right: 2px;
    min-width: 60px;
}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    flex: 0% 0% 30%
}

.right {
    flex: 0% 0% 70%
}